<script src="/js/qr/qrcode.min.js"></script>

<body>
  <!-- Sidenav -->
  <% if(locals.userInfo  && locals.userInfo.name){ %>
  <% include ../vpartials/sidebar%>

  
  <!-- Main content -->
  <div class="main-content">
    <!-- Top navbar -->
    <% include ../vpartials/navbar %>
    <% } 
    else {
      %>
      <div class=" bg-gradient-default " >   
         <% include ../vpartials/auth/navbar %>
      </div>
  
      <!-- Header -->
      <%}%>
    <!-- Header -->
    <% include ../vpartials/header2 %>
     <!-- Page content -->
    <div class="container-fluid mt--7" style='padding-top: 150px;''>
      <div class="row">
        <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
          <div class="card card-profile shadow">
            <div class="row justify-content-center">
              <div class="col-lg-3 order-lg-2">
                 <div class="card-profile-image">
                  <a href="#">
                    <img src="/uploads/profile/<%=signerInfo.profilepic || 'default-avatar.png'%>" >
                  </a>
                </div> 
                
              </div>
            </div>
            <div class="card-header bg-white border-0">
              <div class="row align-items-center">
                <div class="col-8">
                  <h4 class="mb-0">Signataire</h4>
                </div>
               
              </div>
            </div>
            <div class="card-body pt-0 pt-md-4">
               <div class="row">
                <div class="col">
                  <div class="card-profile-stats d-flex justify-content-center mt-md-4">
                   
                  </div>
                </div>
              </div>  
              <div >
                <div class="text-left">
                  <% if (locals.signerInfo && locals.signerInfo.verified) { %>
                    <div class="alert alert-success " role="alert" id="alert_back">
  
                       <p style="color:white;padding:0px;margin: 0px;">
                        <i class="ni ni-circle-08 text-white"></i>  Ce compte signataire est vérifié </p>
                    </div>
                  <% } %>
                  <% if (locals.signerInfo && ! locals.signerInfo.verified) { %>
                    <div class="alert alert-warning" role="alert" id="alert_back">
  
                      <p style="color:white;padding:0px;margin: 0px;"> <i class="ni ni-circle-08 text-white"></i>  Ce compte signataire n'est pas vérifié </p>
                    </div>
                  <% } %>
                <center><h2>
                  <%= locals.signerInfo && locals.signerInfo.name || 'User user' %> 
                </h2></center></div> 
                <br>
                <!-- <div class="h5 font-weight-400">
                  <span class="description"> Addresse :</span><i class="ni location_pin mr-2"></i>
                </div> -->
                <% if (locals.signerInfo  && locals.signerInfo .b_address) { %>
                  <div class="alert alert-default  " role="alert" id="alert_back">
                  <label>Identifiant Sinely sur Blockchain</label>
                  <p style="color:white"> <i class="ni ni-circle-08 text-white"></i>  <%= locals.signerInfo  && locals.signerInfo .b_address || 'undefined' %> </p>
                  </div>
                <% } %>
                <% if (locals.signerInfo  && locals.signerInfo .public_key) { %>
                  <div class="alert alert-default  " role="alert" id="alert_back">
                  <label><i class="ni ni-circle-08 text-white"></i> Clé publique :</label>
                  <p style="color:white"> <%= locals.signerInfo  && locals.signerInfo .public_key || 'undefined' %> </p>
                  </div>
                <% } %>
                <!-- <table width='100%'>
                  <tr><td ><h3>Clé publique </h3></td><td style="width:250px;word-wrap:break-word;display: inline-block;"><%= locals.signerInfo && locals.signerInfo.public_key || 'User user' %></td></tr>
                  <tr><td  ><h3 > Email </h3></td><td><%= locals.signerInfo && locals.signerInfo.email || 'User user' %></td></tr>
                 
                </table> -->
            <% if(typeof locals.etablissementInfo !=='undefined'){ %>
                  <label>Affiliation</label>
                   <p><%= locals.etablissementInfo && locals.etablissementInfo.name || 'Non indiquée' %></p> 
                  
                  <% }%>
              
               
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-8 order-xl-1">
          <div class="card bg-secondary shadow">
            <div class="card-header bg-white border-0">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-0"> Les informations du document</h3>
                </div>
                
              </div>
            </div>
            <% if(locals.fileInfo.type=='signed') {%>
            <div class="card-body">
              <div class="table-responsive">
               
                  <% if(locals.fileInfo.privacy=='public') {%>
                    <p class="display-5 ">  <a href="/<%=  locals.fileInfo.path %>">Télécharger Le document</a></p>

                    <% } %>

                <table class="table align-items-center ">
                             <tr>             
              
                </tr>
                <tr>
                  <td><h3>Description</h3>   </td>
                  <td><%= locals.fileInfo.description %></td>
                </tr>
                              
                <tr> 
                  <td><h3>Signé le</h3> </td>
                  <td> <%= locals.fileInfo.signed_at  || 'Non indiqué' %></td>
                </tr>
               
                                  <tr>
                   <td><label><h3>Signature</h3> </label></td>
                   <td>  
                    <canvas id="canvas" width="200" style="height: 200px; width: 200px;" height="200"></canvas>
                  </td>
                  
                  </tr>
        
              </table>
               
                 
              </div>
            </div>
<% } %>
<% if(locals.fileInfo.third_attribut=='Diplôme' ) {%>

            <div class="card-body">
              <div class="table-responsive">
                <% if(locals.fileInfo.privacy=='public') {%>
                  <p class="display-5 ">  <a href="/<%=  locals.fileInfo.path %>">Télécharger Le document</a></p>

                  <% } %>
                <table class="table align-items-center ">
                  <tr>
                  <td>   <h3>Type du document </h3> </td>
                  <td> <%=  locals.fileInfo.third_attribut || 'Document' %></td>
                  </tr>
                  <tr>             
          
                </tr>
                <% if(locals.fileInfo.description) {%>
                <tr>
                  <td><h3>Description</h3>   </td>
                  <td><%= locals.fileInfo.description %></td>
                </tr>
                <% } %>
                <tr> 
                  <td><h3>Déliveré à </h3> </td>
                  <td><%= locals.fileInfo.recipient  || 'Non indiqué' %></td>
                </tr>
                 
                <tr> 
                  <td><h3>Signé le</h3> </td>
                  <td> <%= locals.fileInfo.signed_at  || 'Non indiqué' %></td>
                </tr>
                <tr> 
                  <td><h3>Déliveré le </h3></td>
                  <td> <%= locals.fileInfo.first_attribut  || 'Non indiqué' %></td>
                </tr>
                <% if(locals.fileInfo.second_attribut) {%>
                <tr>
                  <td><h3>Mention </h3> </td>
                  <td><%= locals.fileInfo.second_attribut  || 'Non indiqué' %></td>
                </tr>
                <% } %>
                  <tr>
                   <td><label><h3>Signature</h3> </label></td>
                   <td>  
                    <canvas id="canvas" width="200" style="height: 200px; width: 200px;" height="200"></canvas>
                  </td>
                  
                  </tr>
        
</table>
              </div>
            </div>
            <% } %>

            <% if(locals.fileInfo.third_attribut=='Attestation' ) {%>

              <div class="card-body">
                <div class="table-responsive">
                  <table class="table align-items-center ">
                    <tr>
                    <td>   Type du document : </td>
                    <td> <%=  locals.fileInfo.third_attribut || 'Document' %></td>
                    </tr>
                    <tr>             
                 
                  </tr>
                  <% if(locals.fileInfo.description) {%>
                    <tr>
                      <td><h3>Description</h3>   </td>
                      <td><%= locals.fileInfo.description %></td>
                    </tr>
                    <% } %>
                  <tr> 
                    <td>Déliveré pour : </td>
                    <td><%= locals.fileInfo.recipient  || 'Non indiqué' %></td>
                  </tr>
                  <tr> 
                    <td>Signé le :</td>
                    <td> <%= locals.fileInfo.signed_at  || 'Non indiqué' %></td>
                  </tr>
                  <tr> 
                    <td>Déliveré le :</td>
                    <td> <%= locals.fileInfo.first_attribut  || 'Non indiqué' %></td>
                  </tr>
                     
                    <tr>
                     
                    
                    </tr>
                    <tr>
                      <td><label>Signature </label></td>
                      <td>  
                       <canvas id="canvas" width="200" style="height: 200px; width: 200px;" height="200"></canvas>
                     </td>
                     
                     </tr>
             
                    </table>
                </div>
              </div>
              <% } %>
  
          </div>
        </div>
        <script>
         function prepDownload(a, canvas, name) {
          a.download = name
          a.href = canvas.toDataURL()
        }
   
                    QRCode.toCanvas(document.getElementById('canvas'), 
                    '<%=url%>/file/sdata=<%=jsonSignature%>', 
                   function (error) {
                            if (error) console.error("qr error",error)
                          })
   
        </script> 
      </div>

      
      <!-- Footer -->
      <% include ../vpartials/footer %>
    </div>
  </div>
      <!-- Include scripts -->
      <% include ../vpartials/scripts %>

  
</body>
